<script th:src="@{/l-js/jquery.js}"></script>
<script th:src="@{/l-js/jquery.easing.1.3.js}"></script>
<script th:src="@{/l-js/bootstrap.min.js}"></script>
<script th:src="@{/l-js/jquery.fancybox.pack.js}"></script>
<script th:src="@{/l-js/jquery.fancybox-media.js}"></script>
<script th:src="@{/l-js/jquery.flexslider.js}"></script>
<script th:src="@{/l-js/animate.js}"></script>
<script th:src="@{/l-js/modernizr.custom.js}"></script>
<script th:src="@{/l-js/jquery.isotope.min.js}"></script>
<script th:src="@{/l-js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/l-js/custom.js}"></script>
<script th:src="@{/l-js/main-script.js}"></script>