<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/layouts/layout-2/layout">
<body>


<section layout:fragment="lcontent">

    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="pageTitle">Fees</h2>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-logo">
                    <h3>Voluptatem Accusantium Doloremque</h3>
                    <p>Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas</p>
                    <p>Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas</p>
                </div>
            </div>
        </div>
        <!-- end divider -->
        <div class="row">
            <div class="col-lg-12">
            </div>
            <div class="col-lg-3">
                <div class="pricing-box-item">
                    <div class="pricing-heading">
                        <h3><strong>B-Tech</strong></h3>
                    </div>
                    <div class="pricing-terms">
                        <h6>₹50,000</h6>
                    </div>
                    <div class="pricing-container">
                        <ul>
                            <li><i class="icon-ok"></i> Computer Science Engineering</li>
                            <li><i class="icon-ok"></i> Machenical Engineering</li>
                            <li><i class="icon-ok"></i> Electrical Engineering</li>
                            <li><i class="icon-ok"></i> Chemical Engineering</li>
                            <li><i class="icon-ok"></i> Marine Engineering</li>
                        </ul>
                    </div>
                    <div class="pricing-action">
                        <a href="#" class="btn btn-medium"><i class="icon-bolt"></i> Apply Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="pricing-box-item">
                    <div class="pricing-heading">
                        <h3><strong>Diploma</strong></h3>
                    </div>
                    <div class="pricing-terms">
                        <h6>₹50,000</h6>
                    </div>
                    <div class="pricing-container">
                        <ul>
                            <li><i class="icon-ok"></i> Chemical Engineering</li>
                            <li><i class="icon-ok"></i> Civil Engineering</li>
                            <li><i class="icon-ok"></i> Computer Science and Engineering</li>
                            <li><i class="icon-ok"></i> Electrical Engineering</li>
                            <li><i class="icon-ok"></i> Automobile Engineering</li>
                        </ul>
                    </div>
                    <div class="pricing-action">
                        <a href="#" class="btn btn-medium"><i class="icon-bolt"></i> Apply Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="pricing-box-item activeItem">
                    <div class="pricing-heading">
                        <h3><strong>MBA</strong></h3>
                    </div>
                    <div class="pricing-terms">
                        <h6>₹50,000</h6>
                    </div>
                    <div class="pricing-container">
                        <ul>
                            <li><i class="icon-ok"></i> Decision Sciences</li>
                            <li><i class="icon-ok"></i> Economics and Social Sciences</li>
                            <li><i class="icon-ok"></i> Entrepreneurship</li>
                            <li><i class="icon-ok"></i> Finance and Accounting</li>
                            <li><i class="icon-ok"></i> Marketing</li>
                        </ul>
                    </div>
                    <div class="pricing-action">
                        <a href="#" class="btn btn-medium"><i class="icon-bolt"></i> Apply Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="pricing-box-item activeItem">
                    <div class="pricing-heading">
                        <h3><strong>Polytechnic</strong></h3>
                    </div>
                    <div class="pricing-terms">
                        <h6>₹50,000</h6>
                    </div>
                    <div class="pricing-container">
                        <ul>
                            <li><i class="icon-ok"></i> Diploma in Automobile Engineering</li>
                            <li><i class="icon-ok"></i> Diploma in Fashion Engineering</li>
                            <li><i class="icon-ok"></i> Diploma in Interior Decoration</li>
                            <li><i class="icon-ok"></i> Diploma in Art and Craft</li>
                            <li><i class="icon-ok"></i> Diploma in Ceramic Engineering</li>
                        </ul>
                    </div>
                    <div class="pricing-action">
                        <a href="#" class="btn btn-medium"><i class="icon-bolt"></i> Apply Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="pricing-box-item">
                    <div class="pricing-heading">
                        <h3><strong>M TECH</strong></h3>
                    </div>
                    <div class="pricing-terms">
                        <h6>₹50,000</h6>
                    </div>
                    <div class="pricing-container">
                        <ul>
                            <li><i class="icon-ok"></i> Chemical Engineering</li>
                            <li><i class="icon-ok"></i> Computer Science Engineering</li>
                            <li><i class="icon-ok"></i> Electrical Engineering</li>
                            <li><i class="icon-ok"></i> Mechanical Engineering</li>
                            <li><i class="icon-ok"></i> Electronics and Communication Engineering</li>
                        </ul>
                    </div>
                    <div class="pricing-action">
                        <a href="#" class="btn btn-medium"><i class="icon-bolt"></i> Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</section>




</body>
</html>