<div id="main-slider" class="flexslider">
    <ul class="slides">
        <li><img src="img/slides/1.jpeg" alt=""/>
            <div class="flex-caption">
                <h3>Qspdjvsdv dvdsv</h3>
                <p>sdvsdvsdv sdvdsv</p>
            </div>
        </li>
        <li><img src="img/slides/2.jpeg" alt=""/>
            <div class="flex-caption">
                <h3>Qspdjvsdv dvdsv</h3>
                <p>sdvsdvsdv sdvdsv</p>
            </div>
        </li>
        <li><img src="img/slides/3.jpeg" alt=""/>
            <div class="flex-caption">
                <h3>Qspdjvsdv dvdsv</h3>
                <p>sdvsdvsdv sdvdsv</p>
            </div>
        </li>
        <li><img src="img/slides/4.jpeg" alt=""/>
            <div class="flex-caption">
                <h3>Qspdjvsdv dvdsv</h3>
                <p>sdvsdvsdv sdvdsv</p>
            </div>
        </li>
        <li><img src="img/slides/5.jpeg" alt=""/>
            <div class="flex-caption">
                <h3>Qspdjvsdv dvdsv</h3>
                <p>sdvsdvsdv sdvdsv</p>
            </div>
        </li>
    </ul>
</div>