<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="aligncenter">
                <h2 class="aligncenter">COURSES</h2>
                vudcbsdcvwdsviahbkusyfbdfjcubsudhcgevbvievaci
                rfbveuyvbfiisyvgbfeiuvsfabvireyhrrrrrrrrrrrrrrrrrdcb,jkuevj,bfruae skrfvj
                weufkasreeeeeeeeeeeeeebjfrygaejjjjjjjjjjjjjjjjjjjjjjjjjjjjjdvh,,rubye
                alhrbehyrfsiyrbasdhbvliy
            </div>
            <br>
        </div>
    </div>


    <div class="row">
        <div class="skill-home">
            <div class="skill-home-solid clearfix">


                <div class="col-md-3 text-center">
                    <span class="icons c1">
                        <i class="fa fa-book"></i>
                    </span>
                    <div class="box-area">
                        <h3>Vocational Courses</h3>
                        <p>
                            jfngskdbgdfilbglersiutkkhlczzzzkhj cbjsfygu
                            ckvbryschobvauneshjdilu vhj
                            a voiuhskv eilbhfvuernh
                        </p>
                    </div>
                </div>

                <div class="col-md-3 text-center">
                    <span class="icons c2">
                        <i class="fa fa-user"></i>
                    </span>
                <div class="box-area">
                    <h3>MassComm Courses</h3>
                    <p>
                        jfngskdbgdfilbglersiutkkhlczzzzkhj cbjsfygu
                        ckvbryschobvauneshjdilu vhj
                        a voiuhskv eilbhfvuernh
                    </p>
                </div>
                </div>

                <div class="col-md-3 text-center">
                    <span class="icons c3">
                        <i class="fa fa-trophy"></i>
                    </span>
                    <div class="box-area">
                        <h3>Accounts</h3>
                        <p>
                            jfngskdbgdfilbglersiutkkhlczzzzkhj cbjsfygu
                            ckvbryschobvauneshjdilu vhj
                            a voiuhskv eilbhfvuernh
                        </p>
                    </div>
                </div>

                <div class="col-md-3 text-center">
                    <span class="icons c4">
                        <i class="fa fa-globe"></i>
                    </span>
                    <div class="box-area">
                        <h3>Business Management</h3>
                        <p>
                            uehrgreughergjerhgosuhfgefjgherougheihgruhgrjgruhguh
                            kidguongihngobgiuegoer
                            wegjgfeiw
                            kigbnjugnefejbgeurvfvbfngtu
                        </p>
                    </div>
                </div>



            </div>
        </div>
    </div>




</div>