<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-title text-center">
                <h2>OUR INSTITUTE</h2>
                <P>
                    IHGWEULRFBGSIHGFUISDKHGSUDYI
                    RG;OIEGSBN;OEFUNARSFFERNSUGH
                    FOSIADGUN;FIADUHZIRUDZLDRGUH
                    A;IHRBGAISUBG;EIAHBGU
                </P>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="about-text">
                <p>
                    aieufhawifygdwhfgvaeuwiyfvudyfjas
                    d.yhihfbas,judfadshgfvdshfvdsufgwdfas
                    wjfhbdsaujh
                    whjfbawj
                    wdjfhbwik
                </p>

                <ul clas="withArrow">
                    <li><span class="fa fa-angle-right"></span>
                    Lorem
                    </li>

                    <li><span class="fa fa-angle-right"></span>
                        Lorem 2
                    </li>

                    <li><span class="fa fa-angle-right"></span>
                        Lorem 3
                    </li>

                    <li><span class="fa fa-angle-right"></span>
                        Lorem 4
                    </li>


                </ul>

                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="about-image">
                <img src="img/about.jpg" alt="About Images"/>
            </div>
        </div>
    </div>
</div>