<div class="container">
    <div class="row">
        <div class="col-md-10 col-sm-9">
            <h3> Welcome To CV RAMAN GLOBAL UNIVERSITY </h3>
            <P>
                C. V. Raman Global University is an engineering and management
                institution in the Bhubaneswar, Odisha, India. It was established
                in 1997 as CV Raman College of Engineering under
                C.V. Raman Group of Institutions
            </P>
        </div>
        <div class="col-md-2 col-sm-3">
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>
</div>