<div class="container">
    <div class="row">
        <div class="col-md-10 col-sm-9">
            <h3> Welcome To CV RAMAN GLOBAL UNIVERSITY </h3>
            <P>
                IWYFHBWNJFNHFBSFNDBSDFVBHEKFHVBDVFJOVNEFIDVHYEFVBFHV
                IWYFHBWNJFNHFBSFNDBSDFVBHEKFHVBDVFJOVNEFIDVHYEFVBFHV
                IWYFHBWNJFNHFBSFNDBSDFVBHEKFHVBDVFJOVNEFIDVHYEFVBFHV
                IWYFHBWNJFNHFBSFNDBSDFVBHEKFHVBDVFJOVNEFIDVHYEFVBFHV
            </P>
        </div>
        <div class="col-md-2 col-sm-3">
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>
</div>